@import url('https://api.unsplash.com/photos/photos/random');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  line-height: 1.6;
  font-size: 18px;
  color: rgb(80, 80, 80);
}

h1 {
  font-weight: bold;
}

.title-grey {
  color: rgb(150, 150, 150);
}

.banner p {
  font-weight: lighter;
  font-style: italic;
  size: 24px;
}

a {
  text-decoration: none;
  font-style: italic;
  background-image: linear-gradient(0deg, #e2fadb, #CFEBDF);
}

a:hover {
  color: white;
  background-image: linear-gradient(0deg, #b7cbb0, #97aaa2);
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 120px;
}

.container {
  width: 700px;
  margin: 50px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  .banner {
    padding: 50px 0;
    margin: 0;
  }
}
